EMAIL_ENABLED=true
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_TIMEOUT=10
EMAIL_USERNAME=your_email@dott.health
EMAIL_PASSWORD=your_google_app_password
EMAIL_FROM=your_email@dott.health
EMAIL_RECIPIENTS=subin@dott.health,febry@dott.health,jithu@dott.health
WAITLIST_SUBJECT=New Dott Health waitlist signup
REGISTER_SUBJECT=New Dott Health practitioner registration
